body{
background-color: #F9F3ED;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23DDCBBD' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23DDCDBE'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");}
/* *Colores */

.navbar, .formulario, .tareas{
    background: #FAF3EB;
    border-bottom: 2px solid #FAF3EB;
    color: #3d352e; 
}
.navbar-expand-lg{
    background-color: #FAF3EB;
}
.notasExtra{
    border-radius: 5px;
    margin-top: 1.6rem;
    background-color: #f5efe6;
    border-right: 2px solid #e2d9cc;
    color: #3d352e;  ;
    
}
#btn-modo-oscuro{
    transition: .3s ease-in-out all;
    margin-left: 0.1rem;
    color: white;
    padding: 11px 15px 11px 15px;
    color: #3d352e!important;
}
#btn-modo-claro{
    transition: .3s ease-in-out all;
    background-color: rgb(231, 199, 138);
    margin-left: 0.1rem;
    padding: 11px 15px 11px 15px;
    border-radius: 30px;
    color: #000000!important;
}
.bi-brightness-high{
    font-size: 1.2rem;
    color: #000000!important;

}
.navbar-nav{
    background-color: wheat;
    border: solid rgb(117, 90, 90) 1px;
    border-radius: 50px;
}
.text-success-emphasis{
background-color: #B0C6C2 !important;
    color: #2e4138!important;
}

.text-warning-emphasis{
    background-color: #E9D7AB !important;
    color: #5a4e36!important;
}

.text-danger-emphasis{
background-color: #DBA5A6 !important;
    color: #4e3234 !important;
}

.tareaFondo, .backfondo{
    background-color: rgba(255, 255, 255, 0.616) !important;
}
#descInput, #personaInput,#importanciaInput,#fechaInput, #notasInput{
background-color: #ECECEC;
}
/*  */
.Logo {
    height: 3.5rem !important;
    width: auto !important;
    border-radius: 10%;
    object-fit: contain;
    display: inline-block;
}
#btnNotaExtra{
    border: solid #035963 1px;
    margin-bottom: 2rem;
    background-color: #0D6973;
}
.badge{
    height: auto;
    width: 1px !important;
    font-size: 1rem !important;
}
#btnNuevaTarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #036ecc 1px;
    background-color: #1F598C;
}
.list-group-item{
    background-color: #F9F6F1 !important;
    color: black;
}

.btn-check-extra, .btn-edit-extra, .btn-delete-extra{
    color: #9b8576 !important;
    border: solid #c0aea2  1px !important;
}

.btn-check-extra:hover, .btn-edit-extra:hover, .btn-delete-extra:hover{
    color: #ffffff !important;
}


@media (min-width: 992px) {
    .offcanvas-lg.notasExtra {
        background-color: #e0d7c5 !important;
        border-right: 2px solid #e2d9cc !important;
        color: #3d352e !important;
    }
}

.badge-fecha{
    padding-left: 5rem !important;  
    padding-right: 5rem !important; 
}

.bi-moon-stars-fill, .home1{
    color:black;
}