body.dark{
background-color: #18181E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232F303B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232F303B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");}

body.dark .navbar, body.dark .formulario{
    background: #0C1526 !important;
    border-bottom: 1px solid #334155 !important;
    color: #f8fafc !important;
}
body.dark .tareas{
background: #1F222B !important;
    border: 1px solid #334155 !important;
    backdrop-filter: blur(8px);
    color: #f8fafc !important;
}

body.dark .notasExtra {
    background-color: #1F222B !important;
    border-right: 1px solid #334155 !important;
    color: #f8fafc !important;
}
body.dark .mb-1 {
    color: black !important;
}
body.dark .tareaFondo,
body.dark .backfondo {
    border: 1px solid #334155 !important;
    color: #e2e8f0 !important;
}

body.dark .notasExtra{
    background-color: #8b80a5 !important;
    
}

body.dark .bi-brightness-high, body.dark .bi-journal-richtext, body.dark .fw-semibold,
body.dark .text-truncate{
    color: white !important;
}
body.dark .btn-check-extra,body.dark .btn-edit-extra,body.dark .btn-delete-extra{
    color: white !important;
    border: solid white  1px !important;
}

body.dark .btn-check-extra:hover,body.dark .btn-edit-extra:hover,body.dark .btn-delete-extra:hover{

    color: white;
}

body.dark #btn-modo-oscuro{
    transition: .3s ease-in-out all;
    background-color: #405161 !important;
    color: white !important;
    margin-left: 0.1rem;
    padding: 11px 15px 11px 15px;
    border-radius: 30px !important;
    color: #3d352e!important;
}
body.dark .bi-moon-stars-fill, body.dark .text-muted{
    color: white !important;
}

body.dark #btn-modo-claro{
    transition: .3s ease-in-out all;
    background-color: transparent !important;
    margin-left: 0.1rem;
    padding: 11px 11px 11px 12px;
    border-radius: 20px;
    color: #3d352e!important;
}
body.dark .navbar-nav{
    background-color: #1E1E26;
    border: solid rgb(41, 41, 41) 1px;
    border-radius: 50px;
}


body.dark .text-secondary       {
    color: #A8A8AE !important;
}

body.dark .tareaFondo,body.dark .backfondo{
    background-color: #2C2E37 !important;
}

body.dark .text-warning-emphasis{
    background-color: #735C32 !important;
    color: #3a2102 !important;
}


body.dark .text-danger-emphasis{
background-color: #83636c !important;
    color: #27070d !important;
}

body.dark .text-success-emphasis{
background-color: #414F4D !important;
    color: #5ab181 !important;
}

body.dark #descInput, body.dark #personaInput,body.dark #importanciaInput,body.dark #fechaInput,body.dark #notasInput{
background-color: #ECECEC;
}

body.dark #btnNuevaTarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(1, 29, 53) 1px !important;
    background-color: #1A4078 !important;
    color: #ebf1f8 !important;
}
body.dark #btnNotaExtra{
    border: solid rgb(1, 29, 53) 1px !important;
    background-color: #1A4078 !important;
    color: #ebf1f8 !important;
}

@media (min-width: 992px) {
    body.dark .offcanvas-lg.notasExtra {
     background-color: #1F222B !important;
        border-right: 1px solid #334155 !important;
        color: #f8fafc !important;
    }
}
